@media screen and ( max-width: 1600px )
    .power
        &__row
            justify-content: center

@media screen and ( max-width: 1500px )
    .faq
        &__box
            max-width: 900px

    .consult
        &__card
            max-width: 515px

    .steps
        &__card
            width: 320px
            height: 134px
            padding-left: 52px
            &__text
                font-size: 16px
            &__content
                padding: 10px 20px 10px 40px
            &__img
                width: 73px
        &__row
            max-width: 1200px
            margin: auto

@media screen and ( max-width: 1400px )
    .footer
        &__nav
            margin: 50px 0
            display: flex
            justify-content: center
            flex-wrap: wrap
        &__row
            flex-direction: column

    .power
        margin-bottom: -100px

    .steps
        padding-top: 40px
        &__img
            display: block

    .main
        &__img
            transform: translate(-50%, 50px)
        &__form
            max-width: 500px
            &__content
                padding: 40px 20px
        &__container
            padding-bottom: 30px

    .header
        &__button
            font-size: 18px
            width: 290px
        &__link
            font-size: 16px
            margin: 0 15px

@media screen and ( max-width: 1300px )
    .slider
        &__control
            bottom: 100px

@media screen and ( max-width: 1200px )
    .slider
        &__img
            margin-right: 20px
        &__row
            justify-content: center
        &__box
            padding: 20px 40px
            max-width: 600px
            &__title
                font-size: 20px
                margin-bottom: 20px
        &__li
            margin-bottom: 15px
            & *
                font-size: 16px


    .faq
        margin-bottom: -150px
        &__box
            max-width: 700px

    .send
        &__row
            padding-top: 0

    .power
        padding-bottom: 200px
        margin-bottom: -50px
        &__card
            width: 320px
            min-height: 240px
            text-align: center
            padding: 25px 20px
            &__title
                font-size: 18px
                margin-bottom: 10px
            &__text
                font-size: 16px
        &__row
            grid-template-columns: repeat(auto-fill, 320px)

    .consult
        &__row
            background-size: 500px

    .industries
        &__card
            width: 280px
            img
                width: 55px
            &__content
                padding: 8px !important
            &__text
                font-size: 16px

    .section
        &__title
            font-size: 30px

    .steps
        &__row
            justify-content: center
            flex-wrap: wrap

    .main
        &__title
            font-size: 34px
            margin-bottom: 22px
        &__subtitle
            font-size: 34px
            max-width: 390px
        &__form
            max-width: 450px
            &__title
                font-size: 21px
                margin-bottom: 20px
            &__text
                font-size: 18px
                margin-bottom: 38px
            &__input
                font-size: 16px
            &__textarea
                font-size: 16px

    .header
        &__link
            font-size: 14px
            margin: 0 10px
        &__button
            font-size: 14px
            width: 240px

@media screen and ( max-width: 991px )
    .input-group
        margin-bottom: 20px

    .modal
        &-thanks
            &__img
                width: 80px
            &__dialog
                max-width: 300px
                padding: 142px 50px
            &__title
                font-size: 20px
                margin-bottom: 10px
            &__text
                font-size: 18px
                margin-bottom: 30px
        &__button
            font-size: 18px
        &__input-group
            margin-bottom: 10px
        &__input
            font-size: 14px
        &__title
            font-size: 20px
            margin-bottom: 10px
        &__text
            font-size: 18px
            margin-bottom: 25px
        &__close
            top: 20px
            right: 20px
            width: 25px
        &__dialog
            max-width: 300px
            padding: 85px 10px

    .footer
        padding-top: 12px
        padding-bottom: 80px
        &__link
            font-size: 20px
            display: block
        &__button
            width: 100%
            max-width: 280px
            font-size: 18px
            padding: 14px 0
        &__nav
            margin: 25px 0
            flex-direction: column
            align-items: center

    .reverse
        display: flex
        flex-direction: column-reverse

    .slider
        background: linear-gradient(to bottom, #F1ECE8, #fff)
        padding-top: 50px
        padding-bottom: 0
        width: 100vw
        &__img
            margin: 0
        &__card
            min-width: calc(100vw - 40px)
        &__window
            width: 100%
        &__title
            margin-bottom: 30px
            max-width: 330px
        &__control
            transform: none
            left: 0
            bottom: auto
            top: 460px
            justify-content: center
            &__box
                max-width: 767px
                padding: 0 20px
        &__box
            max-width: 672px
            text-align: center
            margin-bottom: 70px
            padding: 30px 10px
        &__row
            flex-direction: column-reverse
            align-items: center

    .faq
        background: url(../img/faq/bgMTop.png) no-repeat center top, url(../img/faq/bgMBottom.png) no-repeat center bottom
        padding-top: 80px
        padding-bottom: 100px
        margin-bottom: 0
        &__item
            &--active
                .faq__item__title
                    margin-bottom: 0
            &__content
                font-size: 16px
            &__title
                font-size: 18px
                padding: 10px 0
        &__box
            max-width: none
        &__title
            margin-bottom: 30px

    .send
        background: #F1ECE8
        padding-top: 40px
        padding-bottom: 10px
        margin-bottom: 0
        &__row
            background: none
            justify-content: center

    .power
        background: url(../img/power/img2.png) no-repeat center bottom
        padding-bottom: 345px
        &__img
            display: block
        &__title
            max-width: 370px
            margin-bottom: 10px
        &__subtitle
            font-size: 18px
            margin-bottom: 30px
        &__row
            grid-gap: 15px

    .consult
        padding-top: 70px
        margin-bottom: 60px
        &__title
            margin-bottom: 30px
        &__card
            margin-bottom: 20px
            max-width: 395px
            display: block
        &__box
            &:first-child
                margin-bottom: 20px
        &__row
            flex-direction: column
            align-items: center
        &__row
            background: none
        &__bg
            width: 991px

    @for $i from 1 to 6
        $val: 87.5 - $i * 17.5
        .industries__box--1 .industries__card:nth-child(#{$i})
            transform: translateX(#{$val}px)

    @for $i from 1 to 6
        $val: 87.5 - $i * 17.5
        .industries__box--2 .industries__card:nth-child(#{$i})
            transform: translateX(-#{$val}px)
    .industries
        &__card
            margin-bottom: 20px
        &__title
            max-width: 390px
            margin-bottom: 30px

    .section
        &__title
            font-size: 20px

    .steps
        margin-bottom: 60px
        &__card
            margin: 10px
        &__title
            margin-bottom: 10px

    .steps
        &__img
            transform: translate(-50%, 0)

    .main
        padding: 0
        &__form
            background: rgba(238, 237, 237, 0.3)
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
            backdrop-filter: blur(7.5px)
            &__text-footer
                font-size: 10px
            &__button
                font-size: 18px
                padding: 16px 0
            &__content
                padding: 30px 20px
            &__title
                font-size: 18px
            &__text
                font-size: 16px
                margin-bottom: 25px
            &__textarea, &__input
                font-size: 14px
                padding: 15px 10px
        &__img
            display: none
            &--c
                display: block
                margin-bottom: -150px
        &__box
            flex-direction: column
            align-items: center
        &__container
            padding: 20px 0 0 0
            background: url(../img/main/bgC.png) no-repeat center 150px/100%
        &__title
            font-size: 25px
            padding: 0 20px
        &__subtitle
            text-align: center
            font-size: 19px
            padding: 0 20px
            margin-bottom: 20px 

    .header
        &__nav
            display: none
            &--menu
                display: flex
                flex-direction: column
                align-items: center
        &__link
            font-size: 16px
            margin: 10px 0
        &__menu
            display: block
        &__button
            display: none
            &--menu
                display: block
                margin: auto
                margin-bottom: 50px
                width: 100%
                max-width: 280px
        &__burger
            display: flex

@media screen and ( max-width: 767px )
    .send
        &__form
            padding: 30px 20px
            max-width: 400px
        &__button
            padding: 14px 0
            margin: 10px 0
        &__input-group
            margin-bottom: 10px
        &__textarea
            padding: 15px 10px
            font-size: 14px
        &__input
            padding: 15px 10px
            font-size: 14px
        &__text
            font-size: 16px
            margin-bottom: 25px
        &__title
            font-size: 18px
            margin-bottom: 20px

    .industries
        padding: 0
        &__footer
            max-width: 320px
            &__text
                font-size: 16px
            &__button
                font-size: 18px
                transform: translateY(13px)
                &:hover
                    transform: translateY(13px)
        &__box
            &--1
                margin-bottom: 20px
        &__img
            display: block
        &__row
            flex-direction: column
            align-items: center
            background: none
            margin-bottom: 30px
        &__card
            transform: none !important
            img
                margin: 0
                margin-right: 10px
            &__content
                flex-direction: row !important
                padding: 8px !important
                justify-content: flex-start
            &__text
                text-align: left !important

@media screen and ( max-width: 575px )
    .send
        padding-left: 0
        padding-right: 0 

    .power
        padding-left: 0
        padding-right: 0
        &__title, &__subtitle
            padding: 0 20px
        &__title
            max-width: 410px

    .consult
        padding-left: 0
        padding-right: 0
        &__title
            max-width: 280px
            text-align: left
        &__info
            width: 320px
            height: 114px
            padding-right: 64px
            &__content
                padding: 20px
            &__text
                font-size: 16px
            &__logo
                width: 80px
        &__card
            max-width: 280px
            &__text
                font-size: 16px

    .steps
        padding: 40px 0 0
        &__title
            padding: 0 20px
        &__card
            margin: 10px 0

    .main
        &__img
            &--c
                margin-bottom: -10px
        &__form
            max-width: 400px