.power
    &__row
        display: grid
        grid-template-columns: repeat(auto-fill, 450px)
        grid-gap: 68px 
    &__card
        padding: 30px
        border: 10px solid
        border-image-slice: 1
        border-width: 3px
        border-image-source: linear-gradient(to right bottom, #DDB093, #ddb19315, #DDB093, #ddb19317)
        width: 450px
        height: 230px
        &__title
            font-style: normal
            font-weight: 700
            font-size: 20px
            line-height: 120%
            color: #0044A9
            margin-bottom: 10px
        &__text
            font-style: normal
            font-weight: 300
            font-size: 18px
            line-height: 120%
            color: #000934
    &__title
        max-width: 724px
        margin-bottom: 15px
    &__subtitle
        margin: auto
        margin-bottom: 60px
        font-style: normal
        font-weight: 400
        font-size: 28px
        line-height: 120%
        text-align: center
        color: #000934